@font-face {
  font-family: 'Hipchick';
  src: url('hipchick.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Princess Sofia';
  src: url('PrincessSofia-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body{
	font-family: 'Hipchick', 'Open Sans', arial!important;
}

p, li{
	font-size: 26px;
}

.meta{
	font-size: 20px;
}

.gurumelo-title{
	font-size: 52px;
	margin-top: 20px;
	font-family: 'Princess Sofia', 'Open Sans', arial!important;
	color:white;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #921bd2;
}